In [8]:
import pandas as pd
import json
import os

In [9]:
#get all names of files in the directory
path = "C:/Users/carol/DataSience/data/return-data/"
files = ([f for f in os.listdir(path) if f.endswith('.txt')])

In [10]:
#read files
df_list = []

for file in files:
    with open(path+file, 'r') as f:
        for line in f:
            data = json.loads(line)
            df_list.append(data)

In [11]:
#merge to one dataframe
dataframe = pd.DataFrame.from_dict(df_list)

In [12]:
#head() show the fist four rows
dataframe.head()

                     basket  returnLabel  totalAmount  transactionId  zipCode
0                 [1, 5, 5]            0           30     4098010459     4534
1           [2, 1, 1, 2, 2]            0          270     9956345596     5298
2  [5, 1, 5, 4, 4, 0, 2, 3]            0          648     3449368987     5212
3              [2, 2, 5, 0]            0          332     6842037467     5797
4  [3, 3, 3, 0, 1, 3, 4, 4]            1          440     1976894395     5432